@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap');
body {
    background-color: #1f1f1f;
    color: #f4f8f9;
    font-family: "Nunito", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-align: justify;
    margin: 0;
}


/*header*/

header {
    height: 54px;
    background-color: #2a2a2a;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

header span {
    float: right;
    padding: 16px;
}

header ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

header li {
    background: #2a2a2a;
    display: block;
    float: left;
    padding: 16px;
    position: relative;
    transition-duration: 0.3s;
}

header li a {
    text-decoration: none;
    color: #f4f8f9;
}

header li:hover {
    background: #3a3a3a;
    cursor: pointer;
}

header ul li ul {
    /*visibility: hidden;*/ 
    opacity: 0;
    position: absolute;
    transition: all 0.3s ease;
    margin-top: 1em;
    left: 0;
    display: none;
}

header ul li:hover>ul,
header ul li ul:hover {
    /*visibility: visible;*/
    opacity: 1;
    display: block;
}

header ul li ul li {
    clear: both;
    width: 100%;
}


/*content*/

.content0,
.content1,
.content2 {
    /*margin: 54px 5px 59px 5px;*/
    position: absolute;
    top: 54px;
    bottom: 59px;
    left: 5px;
    right: 5px;
    overflow-y: auto;
}

.content1,
.content2 {
    display: none;
}

#table0,
#table1,
#table2 {
    border-style: solid;
    /*border-width: 1px 1px 0px;*/
    border-color: #3a3a3a;
    border-spacing: 0;
    font-size: 14px;
    table-layout: fixed;
}

#table0 {
    width: 2000px;
}

#table1 {
    width: 700px;
}

#table2 {
    width: 300px;
}

.id_cell {
    width: 15px;
}

#table0_body,
#table1_body,
#table2_body {
    margin-top: -1px;
}

#invisible_table0_header,
#invisible_table1_header,
#invisible_table2_header {
    z-index: 999;
    position: fixed;
    /*left: -5px;*/
}

#table0_header,
#table1_header,
#table2_header {
    visibility: hidden;
}

#stub {
    background: #1f1f1f;
    height: 6px;
    width: 100%;
}

table {
    border-collapse: collapse;
    border: 1px solid #3a3a3a;
    transition-duration: 0.3s;
}

th,
td {
    border: 1px solid #3a3a3a;
    padding: 2px 5px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    transition-duration: 0.3s;
}

td {
    background: transparent;
    outline: none;
}

td.parse_error:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 2px solid red;
}

td:focus:after {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: 2px solid #6d6d6d;
}

th {
    background: #1f1f1f;
}

.add {
    padding: 0px 5px 0px 0px;
    font-size: 24px;
    color: #6d6d6d;
    transition-duration: 0.3s;
}

.add:hover {
    color: #f4f8f9;
    cursor: pointer;
    transition-duration: 0.3s;
}


/*menu*/

.menu_culture,
.menu_square,
.menu_context {
    position: fixed;
    width: 150px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    background: #2a2a2a;
    border: 1px solid #3a3a3a;
    list-style: none;
    padding-left: 0;
}

.menu_culture.active,
.menu_square.active,
.menu_context.active {
    display: block;
}

.menu_culture li,
.menu_square li,
.menu_context li {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    transition: all 0.3s ease;
}

.menu_culture li:hover,
.menu_square li:hover,
.menu_context li:hover {
    cursor: pointer;
    background: #3a3a3a;
    transition: all 0.3s ease;
}


/*footer*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #2a2a2a;
}

footer span {
    float: right;
    padding: 16px;
    color: #939393;
}

.tabs {
    height: 54px;
    width: 100%;
    padding: 0px;
    margin: 0 auto;
}

.tabs>input {
    display: none;
}

.tabs>label {
    display: inline-block;
    padding: 16px;
    margin: 0 -5px 0 0;
    text-align: center;
    vertical-align: middle;
    color: #939393;
    background: transparent;
    cursor: pointer;
    transition-duration: 0.3s;
}

.tabs>input:checked+label {
    color: #f4f8f9;
    background: #3a3a3a;
    transition-duration: 0.3s;
}